body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.panel {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 8px 12px;
}

input {
    margin: 5px;
    padding: 5px;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    max-height: 400px;
    overflow: auto;
}

#output.error {
    color: #911e16;
}

#dataTable {
    border-collapse: collapse;
    width: 50%;
}

#dataTable td, #dataTable th {
    border: 1px solid #ccc;
    padding: 6px;
}

#dataTable tr.selected {
    background-color: #ffeeba;
}

#dataTable th,
#dataTable td {
    padding: 6px 10px;
    text-align: center;
}


/* chart menu*/
#chartContainer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

#chartContainer.expanded {
    max-height: 90%; /*ajust if needed*/
}